@page "/admin/packages"

<Authorized MinRole="SDSetupRole.Administrator">

    <h2>Packages</h2>
    <p>You are in an administrative view. You have unrestricted control over all packages here. Be careful!</p>

    @if (initialized) {

        @foreach (Platform _plat in Globals.Manifest.Platforms.Values) {
            Platform plat = _plat;
            <h3>@plat.Name</h3>
            <BSTable IsSmall="true">
                <thead>
                    <tr>
                        <th scope="col">Display Name</th>
                        <th scope="col">ID</th>
                        <th scope="col">Latest Version</th>
                        <th scope="col">Authors</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (PackageSection sec in plat.PackageSections.Values) {
                        @foreach (PackageCategory cat in sec.Categories.Values) {
                            @foreach (PackageSubcategory sub in cat.Subcategories.Values) {
                                @foreach (Package p in sub.Packages.Values) {
                                    <tr>
                                        <th scope="row">@p.DisplayName</th>
                                        <td>@p.ID</td>
                                        <td>@p.Channels["latest"].Version</td>
                                        <td>@p.Authors</td>
                                        <td>
                                            <BSButton Size="Size.Small" Color="Color.Warning">Edit</BSButton>
                                        </td>
                                    </tr>
                                }
                            }
                        }
                    }
                </tbody>
            </BSTable>
         }


     }
</Authorized>

@code {
    private bool initialized = false;

    protected override async Task OnInitializedAsync() {
        initialized = await Globals.TryUpdateManifest();
        await base.OnInitializedAsync();
    }
}