<!-- Copyright (c) 2018 noahc3
   - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->
@page "/switch"
@inject HttpClient Http
@inject Microsoft.AspNetCore.Blazor.Services.IUriHelper UriHelper
@if (!gettingZip) {

<div>

	@if (zipDoneMessage == true) {
		<div class="ui success message">
			<i class="close icon" onclick="@(() => zipDoneMessage = false)"></i>
			<div class="header">
				Operation Completed
			</div>
			<p>Your ZIP file should download within the next few seconds!</p>
		</div>
	}

	<h1 style="text-align:center">@G.manifest.Platforms["switch"].Name</h1>

	@if (!G.initialized) {
		<h2>Page is loading, please wait...</h2>
	} else {

		<div class="docs-example">
			<h3>Select your Custom Firmwares</h3>

			<div class="ui three item menu" style="margin-bottom:2rem">
				@foreach (CFW k in @G.manifest.Platforms["switch"].CFWs) {
					<a class="item @(k.Enabled == true ? "active" : "")" onclick="@(() => k.Enabled = !k.Enabled)">@k.DisplayName</a>
				}
			</div>
		</div>




		@if (showOptions() == true) {
			<div class="docs-example">
				<h3 style="margin-bottom:0.5em">Select Options for your Custom Firmwares</h3>
				<Card CardType="CardType.Deck" Class="justify-content-center">
					@foreach (CFW k in @G.manifest.Platforms["switch"].CFWs) {
						if (k.Options != null && k.Options.Any()) {
							<Card style="margin-bottom:2rem">
								<Card CardType="CardType.Body">
									<Card CardType="CardType.Title">@k.Name</Card>
									<div class="ui form">
										@foreach (CFWOption n in k.Options) {
											<div class="inline field" style="margin:0 0 0 1rem">
												<div class="nc3_hover">
													<div class="ui checkbox @(n.Enabled == true ? "checked" : "")" onclick="@(() => changeCfwOptionState(n))">
														<input type="checkbox" tabindex="0" class="hidden" checked="@(n.Enabled == true)">
														<label>@n.Name</label>
													</div>
													@if (!G.isMobile) {
														<div class="nc3_tooltip">
															<h4 style="margin:0">@n.Name</h4>
															<p>@G.packages["switch"][n.dependencies[0]].Description</p>
														</div>
													}
												</div>
											</div>
										}
									</div>
								</Card>
							</Card>
						}
					}
				</Card>
			</div>
		}

		@foreach (PackageSection sec in G.manifest.Platforms["switch"].PackageSections) {
			if (!sec.Visible) {
				continue;
			}
			<div class="docs-example">
				<h3 style="margin-bottom:0.5em">@sec.DisplayName</h3>
				<Card CardType="CardType.Deck" Class="justify-content-center">
					@foreach (PackageCategory cat in sec.Categories) {
						if (!cat.Visible) {
							continue;
						}

						<Card style="margin-bottom:2rem">
							<Card CardType="CardType.Body">
								<Card CardType="CardType.Title">@cat.DisplayName</Card>
								@foreach (PackageSubcategory sub in cat.Subcategories) {
									if (!sub.Visible) {
										continue;
									}
									<Card CardType="CardType.Subtitle" style="margin-top:0.5rem">@sub.DisplayName</Card>
									<div class="ui form">
										@foreach (Package p in sub.Packages) {
											if (!p.Visible) {
												continue;
											}

											<div class="inline field" style="margin:0 0 0 1rem">
												<div class="nc3_hover">
													<div class="ui checkbox @(G.selectedPackages[p.ID] == true ? "checked" : "")" onclick="@(() => checkClicked(p.ID))">
														<input type="checkbox" tabindex="0" class="hidden" checked="@(G.selectedPackages[p.ID] == true)">
														<label>@p.Name@if (!String.IsNullOrEmpty(p.Version)) {<sub style="color:#b7b7b7"> (@p.Version)</sub>}</label>
													</div>
													@if (!G.isMobile) {
														<div class="nc3_tooltip">
															<h4 style="margin:0">@p.Name</h4>
															<h6 style="margin-top:0;margin-bottom:0.5rem">by @p.Authors</h6>
															<p>@p.Description</p>
															<br /><br /><p>Retrieved from:<br /><a style="color:#DB2828" href="@p.Source">@p.Source</a></p>
														</div>
													}
												</div>
											</div>

										}
									</div>
								}
							</Card>
						</Card>
					}
				</Card>
			</div>
		}

		<button class="fluid ui red button" style="margin-bottom:1.5rem;" onclick="@(() => downloadZip())">Download your ZIP</button>
	}

</div>
} else {
<div class="ui active dimmer" style="height:100%;width:100%">
	<div class="ui massive text loader">
		<div style="margin-bottom:2rem">Downloading your ZIP, please wait...</div>
		@if (barMode == true) {
			<progress Max="@total" Value="@((int)current)"></progress>
			<label style="margin-top:0.5rem">Fetching Files (@current/@total)</label>
		} else {
			<progress Max="100" Value="@((int)current)" Color="Color.Success"></progress>
			<label style="margin-top:0.5rem">Generating Zip File (@current%)</label>
		}
	</div>
	<div class="ui negative message" style="width:90%;position:absolute;bottom:5%">
		<div class="header fluid">
			This might take a while. If the progress stalls for more than a minute, please report it on <a href="https://github.com/noahc3/SDSetup/issues">GitHub</a>
		</div>
	</div>
</div>
}



@functions {

	public static Action ForceUiRefresh;

	public static bool gettingZip = false;

	private static bool zipDoneMessage = false;

	private static List<string> gottenPackages;

	private static bool b = false;

	static int total = 3;
	static double current = 0;
	static bool barMode = true;

	//Dictionary<string, Package> packages = new Dictionary<string, Package>();
	

	private bool showOptions() {
		bool show = false;
		foreach (CFW k in @G.manifest.Platforms["switch"].CFWs) {
			if (k.Enabled && k.Options != null && k.Options.Any()) {
				show = true;
			}
		}
		return show;
	}

	protected override async Task OnInitAsync() {
		ForceUiRefresh = new Action(() => StateHasChanged());
	}

	private void checkClicked(string id) {
		G.selectedPackages[id] = !G.selectedPackages[id];
		StateHasChanged();
	}

	private void changeCfwOptionState(CFWOption o) {
		o.Enabled = !o.Enabled;
		StateHasChanged();
	}




	//TODO: Move this to package

	private List<Tuple<string, string, string>> getArtifacts(Package p) {
		List<Tuple<string, string, string>> artifacts = new List<Tuple<string, string, string>>();
		if (!gottenPackages.Contains(p.ID)) {
			foreach (Artifact a in p.Artifacts) {
				FileInfo fi = new FileInfo(a.Directory);
				string path = fi.DirectoryName;
				if (path.StartsWith("\\") || path.StartsWith("/")) path = path.Substring(1);
				artifacts.Add(new Tuple<string, string, string>(a.URL, path, fi.Name));
			}
			gottenPackages.Add(p.ID);
		}
		foreach (string k in p.Dependencies) artifacts.AddRange(getArtifacts(G.packages["switch"][k]));
		return artifacts;
	}

	[JSInvokable]
	public static void ChangeProgress(double val) {
		current = val;
		ForceUiRefresh();
	}

	// due to many issues, this has to go here and not in global :/
	private async void downloadZip() {

		gettingZip = true;
		zipDoneMessage = false;
		barMode = true;
		current = 0;

		gottenPackages = new List<string>();

		List<Tuple<string, string, string>> finalArtifacts = new List<Tuple<string, string, string>>();

		foreach (CFW k in G.manifest.Platforms["switch"].CFWs) {
			if (k.Enabled) {
				foreach(string p in k.Dependencies) finalArtifacts.AddRange(getArtifacts(G.packages["switch"][p]));
				foreach (CFWOption o in k.Options) {
					if (o.Enabled) {
						foreach (string d in o.dependencies) {
							finalArtifacts.AddRange(getArtifacts(G.packages["switch"][d]));
						}
					}
				}
			}
		}

		foreach (KeyValuePair<string, bool> k in G.selectedPackages) {
			if (k.Value) {
				finalArtifacts.AddRange(getArtifacts(G.packages["switch"][k.Key]));
			}
		}

		total = finalArtifacts.Count;

		foreach (Tuple<string, string, string> k in finalArtifacts) {
			int result = await ZipHelpers.AddFile(k.Item1, k.Item2, k.Item3);
			if (result == 2) {
				Console.WriteLine("File download failed, aborting...");
				gettingZip = false;
				zipDoneMessage = true;
				StateHasChanged();
				return;
			}
			current++;
			StateHasChanged();
		}

		barMode = false;
		current = 0;
		StateHasChanged();

		await ZipHelpers.AwaitableDownloadZip();
		gettingZip = false;
		zipDoneMessage = true;
		StateHasChanged();



	}

	private string UUID() {
		return new Guid().ToString();
	}
}
